/* pages/QRCode/QRCode.wxss */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20rpx 30rpx 0 30rpx;

  BlockBox {
    width: 100%;
    margin-bottom: 20rpx;
  }

  .cellTitle {
    color: #969799;
  }

  .goodsItem { 
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #FFFFFF;
    padding: 0 20rpx 20rpx 20rpx;

    .image {
      width: 100rpx;
      height: 100rpx;
    }

    .title {
      font-size: 28rpx;
      margin-left: 30rpx;
    }
  }

  .delete {
    width: 120rpx;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #DB211B;
  }
}